div{
    color: white;
}


.react-multi-carousel-dot--active button {
    background: white;
}

iframe{
    width: 100%;
    height: 100%;
}

#inside-container{
    border-color: white;
    border-width: 2px;
    border-radius: 2px;
}